@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: black;
  transform: rotate(0);
  transition: all 0.25s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  top: 11px;
  left: -3px;
  transform: rotate(135deg);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  top: 11px;
  left: -3px;

  transform: rotate(-135deg);
}
