@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1a2027;
  /* #F3F6F9
  #E7EBF0 
  #003A75
  #132F4C
  #001E3C
  #0A1929*/
}

.headingback {
  background: linear-gradient(to right, #007fff, #0059b2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.backimg {
  /* background: linear-gradient(to right bottom, #007fff, #0059b2 120%); */
  /* background: linear-gradient(85deg, #132f4c 0%, #173a5e 100%); */
  background-color: #f3f6f9;
}

.back {
  /* background-color: #99ccf3; */
  /* background-color: #173a5e; */
  background: linear-gradient(85deg, #132f4c 0%, #173a5e 100%);
}

.b {
  background: linear-gradient(to right bottom, #007fff, #0059b2 120%);
}

.backcol {
  background-image: linear-gradient(
    203deg,
    rgba(132, 174, 241, 0.867) 8.4%,
    rgba(38, 238, 159, 0.47) 30.67%,
    rgba(21, 188, 223, 0.333) 70.04%,
    hsla(0, 0%, 100%, 0) 85%
  );
}
.trans {
  transition: 0.3s ease-in-out all;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  box-shadow: inset 0px -1px 1px #e7ebf0;
  z-index: 999;
}

.hamburger {
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: black;
  transform: rotate(0);
  transition: all 0.25s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  top: 11px;
  left: -3px;
  transform: rotate(135deg);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  top: 11px;
  left: -3px;

  transform: rotate(-135deg);
}
